<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<form class="card" ng-submit="guardar()">
				<div class="card-header">
                    <h3 class="card-title">Entidad</h3>
                </div>
                <div class="card-body">
                	<div class="row">
                		<div class="col-12">
                			
	                        <div class="form-group">
	                            <label class="form-label">Nombre</label>
	                            <input type="text" class="form-control" name="example-text-input" placeholder="Ingrese nombre de la Entidad" ng-model="dataEntidad.nombre" required="true">
	                        </div>

	                        <div class="form-group">
	                            <label class="form-label">Teléfono</label>
	                            <input type="text" class="form-control" name="example-text-input" placeholder="Ingrese teléfono de la Entidad" ng-model="dataEntidad.telefono" required="true">
	                        </div> 

	                         <div class="form-group">
	                            <label class="form-label">Dirección</label>
	                            <input type="text" class="form-control" name="example-text-input" placeholder="Ingrese dirección de la Entidad" ng-model="dataEntidad.direccion" required="true">
	                        </div>

	                        <div class="form-group">
	                            <label class="form-label">Correo</label>
	                            <input type="email" class="form-control" name="example-text-input" placeholder="Ingrese Correo de la Entidad" ng-model="dataEntidad.correo" required="true">
	                        </div>

                		</div>
                	</div>
                </div>
                <div class="card-footer text-right">
                  <div class="d-flex">
                    <button type="submit" class="btn btn-primary ml-auto">Guardar</button>
                  </div>
                </div>
			</form>
		</div>

		<div class="col-lg-8">
            <div class="alert alert-warning alert-dismissible" ng-show="alert != ''">
            	{{ alert }}
            </div>
			<div class="card">
				<div class="table-responsive">
	                <table class="table card-table table-striped table-vcenter">
	                  <thead>
	                    <tr>
	                      <th colspan="3">Nombre</th>
	                      <th>Teléfono</th>
	                      <th>Dirección</th>
	                      <th>Correo</th>
	                    </tr>
	                  </thead>
	                  <tbody>
	                    <tr ng-repeat="item in listaEntidades">
	                      <td><span class="avatar">{{ item.nombre.substr(0,2).toUpperCase() }}</span></td>
	                      <td>{{ item.nombre }}</td>
	                      <td>{{ item.telefono }}</td>
	                      <td>{{ item.direccion }}</td>
	                      <td>{{ item.correo }}</td>	                      
	                      <td class="w-1"><a class="icon"><i class="fe fe-edit" ng-click="editar(item)"></i></a></td>
	                      <td class="w-1"><a class="icon"><i class="fe fe-trash" ng-click="eliminar(item._id)"></i></a></td>
	                    </tr>
	                  </tbody>
	                </table>
	            </div>
			</div>
		</div>

	</div>
</div>